<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CHObot Your personal mixologist</title>

    <link rel="icon" href="/static/images/titleIcon.png">

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/googleFonts.css" rel="stylesheet" type="text/css">
    <link href="static/css/tableStyle.css" rel="stylesheet">
    <link href="static/css/feedButton.css" rel="stylesheet">
    <link href="static/css/camButton.css" rel="stylesheet">
    <link href="static/css/navBar.css" rel="stylesheet">
    <link href="static/css/loginPage.css" rel="stylesheet">
    <script src="static/js/html5shiv.js"></script>
    <script src="static/js/respond.min.js"></script>


    {% endblock %}
</head>


<body>
<div class="container">

    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <p class="navbar-brand1 navbar-brand navBarTitle">&nbsp;&nbsp;CHObot Your personal mixologist</p>
            <img class="img-responsive" src="/static/images/titleIcon.png" width="120" height="120" >
        </div>
    </nav>

    <div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'warning' %}
                    <div class="alert alert-warning"> {{ message }} </div>
                {% elif category == 'error' %}
                    <div class="alert alert-danger"> {{ message }} </div>
                {% else %}
                    <div class="alert alert-success"> {{ message }} </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>


    {% block main %}
    {% endblock %}


    {% block footer %}
    {% endblock %}
</div>

</body>
</html>